{% extends 'main.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="{% static 'styles/update.css' %}"
/>

<body>
  <div class="wrapper">

    <div class="inner">

      <form action="" method="POST">
        {% csrf_token %}

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Firstname"
            placeholder="First Name"
            value="{{ seniors.first_name}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Lastname"
            placeholder="Last Name"
            value="{{ seniors.last_name}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Middlename"
            placeholder="Middle Name"
            value="{{ seniors.middle_name}}"
            disabled
          />
        </div>

        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="Suffix"
            placeholder="Suffix"
            value="{{ seniors.suffix}}"
            disabled
          />
          <input
            name="sex"
            id="sex"
            class="form-control"
            value="{{ seniors.sex}}"
            disabled
          />
        </div>

        <div class="form-group1">
          <input
            type="text"
            class="form-control"
            name="Birthdate"
            placeholder="Birth date: dd-mm-yyyy"
            value="{{ seniors.birth_date}}"
            disabled
          />
          <input
            type="number"
            class="form-control"
            name="Age"
            placeholder="Age"
            value="{{ seniors.age}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="Adress"
            placeholder="Address"
            value="{{ seniors.address}}"
            disabled
          />
        </div>

        <div class="form-wrapper">
          <input
            type="text"
            class="form-control"
            name="OSCA_ID"
            placeholder="OSCA_ID"
            value="{{ seniors.OSCA_ID  }}"
            disabled
          />
        </div>

        <div class="btn-container">

          
              <button type="submit" class="btn-edit" style="text-decoration: none;">
                <a href="/edit/{{seniors.id}}">Edit</a>
              </button>
          

      
              <button type="submit"  class="btn-delete" style="text-decoration: none;">
                <a href="/delete/{{seniors.id}}">Delete</a>
              </button>
         
      </div>
        </form>

        {% if seniors.senior_image %}
          <div class="photo-holder">
            <img src="{{ seniors.senior_image.url }}" alt="profile">
          </div>
        {% else %}
          <div class="photo-holder">
            <img src="{% static 'image/profile.png' %}" alt="profile">
          </div>
        {% endif %}
      

    </div>
  </div>
</body>
{% endblock content%}
